/* bok.css */

/* Main container */
.main_container {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background-color: #dde6ed;
}

/* Heading */
.heading {
  font-size: 24px;
  margin: 10px 0;
}

/* Source and Destination inputs */
.source_destination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Input fields */
.input-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Search button */
.search-button {
  background-color: #27374d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
  .source_destination {
    flex-direction: column;
  }

  .input-field {
    width: 100%;
    border: #27374d;
  }
}
/* Selected Train Details */
.selected_train {
  margin-top: 20px;
}

/* Passenger form */
.passenger-form {
  margin: 20px 0;
}

.passenger-label {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Select styles */
.passenger-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Style individual options in the select */
.passenger-select option {
  background-color: #fff;
  color: #000;
}

/* Passenger info */
.passenger-info {
  margin-bottom: 20px;
}

/* Form input fields */
.form-input {
  margin: 5px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Form select fields */
.form-select {
  margin: 5px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Primary button */
.btn-pri {
  background-color: #27374d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

/* Secondary button */
.btn-sec {
  background-color: #9db2bf;
  color: #27374d;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 10px;
}

/* Train table */
.train-table {
  width: 100%;
  border-collapse: collapse;
}

/* Train table header */
.train-table th {
  background-color: #27374d;
  color: #fff;
  padding: 10px;
}

/* Train table row */
.train-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Footer text */
.text1 {
  text-align: center;
  margin-top: 20px;
}

/* Styles for the modal itself */
.modal {
  max-height: 80%; /* Set a maximum height for the modal content */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the modal */
  background-color: #526d82;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  width: 400px; /* Adjust the width as needed */
  padding: 20px;
  margin-inline: auto;
}

.pay_container {
  margin: 80px;
  padding: 50px;
  background-color: #526d82;
}
.text1 {
  
  width: 100%;
  background-color: #27374d;
}
